<div class="promo-container light-grey" style="padding:128px 16px">
    <div class="row-padding">
      <div class="col m6">
        <h3>We know design.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
        <p><a href="#work" class="button black"><i class="fa fa-th"> </i> View Our Works</a></p>
      </div>
      <div class="col m6">
        <img class="image round-large" src="/assets/phone_buildings.jpg" alt="Buildings" width="700" height="394">
      </div>
    </div>
</div>