<div class="home-container" style="padding:128px 16px" id="about">
    <h3 class="center">ABOUT THE COMPANY</h3>
    <p class="center large">Key features of our company</p>
    <div class="row-padding center" style="margin-top:64px">
      <div class="quarter">
        <i class="fa fa-desktop margin-bottom jumbo center"></i>
        <p class="large">Responsive</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="quarter">
        <i class="fa fa-heart margin-bottom jumbo"></i>
        <p class="large">Passion</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="quarter">
        <i class="fa fa-diamond margin-bottom jumbo"></i>
        <p class="large">Design</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="quarter">
        <i class="fa fa-cog margin-bottom jumbo"></i>
        <p class="large">Support</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
    </div>
</div>